In [62]:
import pandas as pd

In [63]:
# Load CSV
csv_path = "Fid-IRA-2024-12-31.csv"  # update with your file
df_raw = pd.read_csv(csv_path)

# Show full column list and the top few rows
print("Columns:", df.columns.tolist())
df_raw.head(15)

Columns: ['Account Type', 'Account', 'Beginning mkt Value', 'Change in Investment', 'Ending mkt Value', 'Short Balance', 'Ending Net Value', 'Dividends This Period', 'Dividends Year to Date', 'Interest This Year', 'Interest Year to Date', 'Total This Period', 'Total Year to Date']

,Account Type,Account,Beginning mkt Value,Change in Investment,Ending mkt Value,Short Balance,Ending Net Value,Dividends This Period,Dividends Year to Date,Interest This Year,Interest Year to Date,Total This Period,Total Year to Date
0,Rollover IRA,243077134,905899.12,-17540.33,881358.79,NaN,NaN,NaN,NaN,NaN,NaN,"$5,332.20","$39,154.35"
1,Symbol/CUSIP,Description,Quantity,Price,Beginning Value,Ending Value,Cost Basis,NaN,NaN,NaN,NaN,NaN,NaN
2,243077134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Stocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ITOT,ISHARES CORE S&P TOTAL US STOCK MARKET ETF,207.94300,128.62000,27677.21,26745.62,19999.96,NaN,NaN,NaN,NaN,NaN,NaN
5,IXUS,ISHARES TR CORE MSCI TOTAL,147.87400,66.14000,10224.00,9780.38,9999.99,NaN,NaN,NaN,NaN,NaN,NaN
6,VWO,VANGUARD INTL EQUITY INDEX FDS FTSE EMR MKT ETF,204.96400,44.04000,9340.20,9026.61,9999.99,NaN,NaN,NaN,NaN,NaN,NaN
7,VGK,VANGUARD INTL EQUITY INDEX FDS FTSE EUROPE ETF,165.16600,63.47000,10900.95,10483.08,9999.15,NaN,NaN,NaN,NaN,NaN,NaN
8,VNQ,VANGUARD REAL ESTATE ETF,211.76800,89.08000,20787.14,18864.29,19999.91,NaN,NaN,NaN,NaN,NaN,NaN
9,VTI,VANGUARD INDEX FDS VANGUARD TOTAL STK MKT ETF,46.26200,289.81000,13872.12,13407.19,9999.99,NaN,NaN,NaN,NaN,NaN,NaN
10,VCLT,VANGUARD SCOTTSDALE FUNDS LONG-TERM CORP BOND ...,122.86800,74.78000,9705.34,9188.06,9999.98,NaN,NaN,NaN,NaN,NaN,NaN
11,IAU,ISHARES GOLD TR ISHARES NEW ISIN #US4642852044...,137.94300,49.51000,6931.63,6829.55,4999.98,NaN,NaN,NaN,NaN,NaN,NaN
12,GLDM,WORLD GOLD TR SPDR GLD MINIS,137.00000,51.99000,7219.90,7122.63,4993.65,NaN,NaN,NaN,NaN,NaN,NaN
13,FCX,FREEPORT-MCMORAN INC COM USD0.10,498.32300,38.08000,22025.87,18976.13,20462.47,NaN,NaN,NaN,NaN,NaN,NaN
14,KEY,KEYCORP COM,1072.00000,17.14000,20882.56,18374.08,10162.56,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
# Find the index of the row containing "Stocks" in column 1
stocks_row_idx = df[df.iloc[:, 0].astype(str).str.contains("Stocks", na=False)].index[0]
# Slice the DataFrame to start after the "Stocks" row
df_stocks = df.iloc[stocks_row_idx + 1:].copy()

# Find the first row where column 1 is blank or contains "Mutual Funds"
stop_idx = df_stocks[
    df_stocks.iloc[:, 1].isna() |
    df_stocks.iloc[:, 1].astype(str).str.strip().eq("") |
    df_stocks.iloc[:, 1].astype(str).str.contains("Mutual Funds", na=False)
].index

# Trim to just the rows between "Stocks" and the stop condition
if not stop_idx.empty:
    df_stocks = df_stocks.loc[:stop_idx[0] - 1]

# Reset index for cleanliness
df_stocks = df_stocks.reset_index(drop=True)

# Optional: rename first two columns
df_stocks.columns = df.columns
df_stocks.rename(columns={df.columns[0]: "Symbol", df.columns[1]: "Name"}, inplace=True)

# Preview the result
pd.set_option('display.float_format', '${:,.2f}'.format)
display(df_stocks)

,Symbol,Name,Beginning mkt Value,Change in Investment,Ending mkt Value,Short Balance,Ending Net Value,Dividends This Period,Dividends Year to Date,Interest This Year,Interest Year to Date,Total This Period,Total Year to Date
0,ITOT,ISHARES CORE S&P TOTAL US STOCK MARKET ETF,207.94300,128.62000,27677.21,26745.62,19999.96,NaN,NaN,NaN,NaN,NaN,NaN
1,IXUS,ISHARES TR CORE MSCI TOTAL,147.87400,66.14000,10224.00,9780.38,9999.99,NaN,NaN,NaN,NaN,NaN,NaN
2,VWO,VANGUARD INTL EQUITY INDEX FDS FTSE EMR MKT ETF,204.96400,44.04000,9340.20,9026.61,9999.99,NaN,NaN,NaN,NaN,NaN,NaN
3,VGK,VANGUARD INTL EQUITY INDEX FDS FTSE EUROPE ETF,165.16600,63.47000,10900.95,10483.08,9999.15,NaN,NaN,NaN,NaN,NaN,NaN
4,VNQ,VANGUARD REAL ESTATE ETF,211.76800,89.08000,20787.14,18864.29,19999.91,NaN,NaN,NaN,NaN,NaN,NaN
5,VTI,VANGUARD INDEX FDS VANGUARD TOTAL STK MKT ETF,46.26200,289.81000,13872.12,13407.19,9999.99,NaN,NaN,NaN,NaN,NaN,NaN
6,VCLT,VANGUARD SCOTTSDALE FUNDS LONG-TERM CORP BOND ...,122.86800,74.78000,9705.34,9188.06,9999.98,NaN,NaN,NaN,NaN,NaN,NaN
7,IAU,ISHARES GOLD TR ISHARES NEW ISIN #US4642852044...,137.94300,49.51000,6931.63,6829.55,4999.98,NaN,NaN,NaN,NaN,NaN,NaN
8,GLDM,WORLD GOLD TR SPDR GLD MINIS,137.00000,51.99000,7219.90,7122.63,4993.65,NaN,NaN,NaN,NaN,NaN,NaN
9,FCX,FREEPORT-MCMORAN INC COM USD0.10,498.32300,38.08000,22025.87,18976.13,20462.47,NaN,NaN,NaN,NaN,NaN,NaN
10,KEY,KEYCORP COM,1072.00000,17.14000,20882.56,18374.08,10162.56,NaN,NaN,NaN,NaN,NaN,NaN
11,SSRM,SSR MINING INC COM NPV ISIN #CA7847301032 SEDO...,257.23900,6.96000,1494.55,1790.38,4999.98,NaN,NaN,NaN,NaN,NaN,NaN
12,SNOW,SNOWFLAKE INC CL A,133.14000,154.41000,23272.87,20558.14,19999.98,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
# Define your desired column headers
desired_columns = [
    "Symbol/CUSIP", "Description", "Quantity", "Price",
    "Beginning Value", "Ending Value", "Cost Basis"
]

# Replace existing headers for the first N columns
df_stocks.columns = desired_columns + [f"drop_{i}" for i in range(len(df_stocks.columns) - len(desired_columns))]

# Drop the extra columns
df_stocks = df_stocks[desired_columns]

# Preview the cleaned result
display(df_stocks)

,Symbol/CUSIP,Description,Quantity,Price,Beginning Value,Ending Value,Cost Basis
0,ITOT,ISHARES CORE S&P TOTAL US STOCK MARKET ETF,207.94300,128.62000,27677.21,26745.62,19999.96
1,IXUS,ISHARES TR CORE MSCI TOTAL,147.87400,66.14000,10224.00,9780.38,9999.99
2,VWO,VANGUARD INTL EQUITY INDEX FDS FTSE EMR MKT ETF,204.96400,44.04000,9340.20,9026.61,9999.99
3,VGK,VANGUARD INTL EQUITY INDEX FDS FTSE EUROPE ETF,165.16600,63.47000,10900.95,10483.08,9999.15
4,VNQ,VANGUARD REAL ESTATE ETF,211.76800,89.08000,20787.14,18864.29,19999.91
5,VTI,VANGUARD INDEX FDS VANGUARD TOTAL STK MKT ETF,46.26200,289.81000,13872.12,13407.19,9999.99
6,VCLT,VANGUARD SCOTTSDALE FUNDS LONG-TERM CORP BOND ...,122.86800,74.78000,9705.34,9188.06,9999.98
7,IAU,ISHARES GOLD TR ISHARES NEW ISIN #US4642852044...,137.94300,49.51000,6931.63,6829.55,4999.98
8,GLDM,WORLD GOLD TR SPDR GLD MINIS,137.00000,51.99000,7219.90,7122.63,4993.65
9,FCX,FREEPORT-MCMORAN INC COM USD0.10,498.32300,38.08000,22025.87,18976.13,20462.47
10,KEY,KEYCORP COM,1072.00000,17.14000,20882.56,18374.08,10162.56
11,SSRM,SSR MINING INC COM NPV ISIN #CA7847301032 SEDO...,257.23900,6.96000,1494.55,1790.38,4999.98
12,SNOW,SNOWFLAKE INC CL A,133.14000,154.41000,23272.87,20558.14,19999.98

In [66]:
# Reorder columns to place 'Cost Basis' after 'Price' and before 'Beginning Value'
column_order = [
    "Symbol/CUSIP", "Description", "Quantity", "Price",
    "Cost Basis", "Beginning Value", "Ending Value"
]
df_stocks = df_stocks[column_order]

# Preview the updated layout
display(df_stocks)

,Symbol/CUSIP,Description,Quantity,Price,Cost Basis,Beginning Value,Ending Value
0,ITOT,ISHARES CORE S&P TOTAL US STOCK MARKET ETF,207.94300,128.62000,19999.96,27677.21,26745.62
1,IXUS,ISHARES TR CORE MSCI TOTAL,147.87400,66.14000,9999.99,10224.00,9780.38
2,VWO,VANGUARD INTL EQUITY INDEX FDS FTSE EMR MKT ETF,204.96400,44.04000,9999.99,9340.20,9026.61
3,VGK,VANGUARD INTL EQUITY INDEX FDS FTSE EUROPE ETF,165.16600,63.47000,9999.15,10900.95,10483.08
4,VNQ,VANGUARD REAL ESTATE ETF,211.76800,89.08000,19999.91,20787.14,18864.29
5,VTI,VANGUARD INDEX FDS VANGUARD TOTAL STK MKT ETF,46.26200,289.81000,9999.99,13872.12,13407.19
6,VCLT,VANGUARD SCOTTSDALE FUNDS LONG-TERM CORP BOND ...,122.86800,74.78000,9999.98,9705.34,9188.06
7,IAU,ISHARES GOLD TR ISHARES NEW ISIN #US4642852044...,137.94300,49.51000,4999.98,6931.63,6829.55
8,GLDM,WORLD GOLD TR SPDR GLD MINIS,137.00000,51.99000,4993.65,7219.90,7122.63
9,FCX,FREEPORT-MCMORAN INC COM USD0.10,498.32300,38.08000,20462.47,22025.87,18976.13
10,KEY,KEYCORP COM,1072.00000,17.14000,10162.56,20882.56,18374.08
11,SSRM,SSR MINING INC COM NPV ISIN #CA7847301032 SEDO...,257.23900,6.96000,4999.98,1494.55,1790.38
12,SNOW,SNOWFLAKE INC CL A,133.14000,154.41000,19999.98,23272.87,20558.14

In [67]:
# Step 3: Define a function to extract and format from each file
def format_monthly_stock_info(file_path, month_tag):
    df = pd.read_csv(file_path)

    # Show full column list and the top few rows
    print("Columns:", df.columns.tolist())
    df_raw.head(15)

    # Find the index of the row containing "Stocks" in column 1
    stocks_row_idx = df[df.iloc[:, 0].astype(str).str.contains("Stocks", na=False)].index[0]
    # Slice the DataFrame to start after the "Stocks" row
    df_stocks = df.iloc[stocks_row_idx + 1:].copy()

    # Find the first row where column 1 is blank or contains "Mutual Funds"
    stop_idx = df_stocks[
        df_stocks.iloc[:, 1].isna() |
        df_stocks.iloc[:, 1].astype(str).str.strip().eq("") |
        df_stocks.iloc[:, 1].astype(str).str.contains("Mutual Funds", na=False)
    ].index

    # Trim to just the rows between "Stocks" and the stop condition
    if not stop_idx.empty:
        df_stocks = df_stocks.loc[:stop_idx[0] - 1]

    # Reset index for cleanliness
    df_stocks = df_stocks.reset_index(drop=True)

    # Optional: rename first two columns
    df_stocks.columns = df.columns
    df_stocks.rename(columns={df.columns[0]: "Symbol", df.columns[1]: "Name"}, inplace=True)

    # Define your desired column headers
    desired_columns = [
        "Symbol/CUSIP", "Description", "Quantity", "Price",
        "Beginning Value", "Ending Value", "Cost Basis"
    ]

    # Replace existing headers for the first N columns
    df_stocks.columns = desired_columns + [f"drop_{i}" for i in range(len(df_stocks.columns) - len(desired_columns))]
    # Drop the extra columns 
    df_stocks = df_stocks[desired_columns]

    # Reorder columns to place 'Cost Basis' after 'Price' and before 'Beginning Value'
    column_order = [
        "Symbol/CUSIP", "Description", "Quantity", "Price",
        "Cost Basis", "Beginning Value", "Ending Value"
    ]
    df_stocks = df_stocks[column_order]

    # Make sure the order of rows is consistent
    preferred_order = [
    "ITOT", "IXUS", "VWO", "VGK", "VNQ", "VTI", "VCLT",
    "IAU", "GLDM", "FCX", "KEY", "SSRM", "SNOW"
    ]
    # Set custom category order
    df_stocks["Symbol/CUSIP"] = pd.Categorical(df_stocks["Symbol/CUSIP"], categories=preferred_order, ordered=True)
    # Sort accordingly
    df_stocks = df_stocks.sort_values("Symbol/CUSIP").reset_index(drop=True)

    return df_stocks

In [68]:
def DELETE_extract_monthly_values(df, month_tag):
    # Extract just identifier + beginning/ending values
    sub_df = df[["Symbol/CUSIP", f"Beginning Value", f"Ending Value"]].copy()
    sub_df = sub_df.rename(columns={
        "Beginning Value": f"Beginning Value ({month_tag})",
        "Ending Value": f"Ending Value ({month_tag})"
    })

    return sub_df

In [69]:
def extract_monthly_values(df_stocks, month_tag):
    """
    Extract and rename beginning and ending value columns with a month tag.
    """
    return df_stocks[["Symbol/CUSIP", f"Beginning Value", f"Ending Value"]].rename(
        columns={
            "Beginning Value": f"Beginning Value ({month_tag})",
            "Ending Value": f"Ending Value ({month_tag})"
        }
    )

In [70]:
def append_monthly_values(master_df, monthly_values_df):
    """
    Join the monthly values to the master_df using 'Symbol/CUSIP' as key,
    and append the new columns at the end.
    """
    merged = pd.merge(master_df, monthly_values_df, on="Symbol/CUSIP", how="left")
    
    # Move newly added columns to the end
    fixed_cols = [col for col in master_df.columns]
    new_cols = [col for col in merged.columns if col not in fixed_cols and col != "Symbol/CUSIP"]
    final_cols = fixed_cols + new_cols
    return merged[final_cols]

In [71]:
# Step 1: Format full stock data for the current month
df_jul = format_monthly_stock_info("Fid-IRA-2024-12-31.csv", "Dec")

# Step 2: Set up your master DataFrame based on July’s full data
master_df = df_jul.copy()

# Step 3: Extract just the monthly value columns for August
df_jan = format_monthly_stock_info("Fid-IRA-2025-01-31.csv", "Jan")
jan_values = extract_monthly_values(df_jan, "Jan")

# Step 4: Append to master
master_df = append_monthly_values(master_df, jan_values)

display(master_df)

Columns: ['Account Type', 'Account', 'Beginning mkt Value', 'Change in Investment', 'Ending mkt Value', 'Short Balance', 'Ending Net Value', 'Dividends This Period', 'Dividends Year to Date', 'Interest This Year', 'Interest Year to Date', 'Total This Period', 'Total Year to Date']
Columns: ['Account Type', 'Account', 'Beginning mkt Value', 'Change in Investment', 'Ending mkt Value', 'Short Balance', 'Ending Net Value', 'Dividends This Period', 'Dividends Year to Date', 'Interest This Year', 'Interest Year to Date', 'Total This Period', 'Total Year to Date']

,Symbol/CUSIP,Description,Quantity,Price,Cost Basis,Beginning Value,Ending Value,Beginning Value (Jan),Ending Value (Jan)
0,ITOT,ISHARES CORE S&P TOTAL US STOCK MARKET ETF,207.94300,128.62000,19999.96,27677.21,26745.62,26745.62,27550.36
1,IXUS,ISHARES TR CORE MSCI TOTAL,147.87400,66.14000,9999.99,10224.00,9780.38,9780.38,10114.58
2,VWO,VANGUARD INTL EQUITY INDEX FDS FTSE EMR MKT ETF,204.96400,44.04000,9999.99,9340.20,9026.61,9026.61,9100.40
3,VGK,VANGUARD INTL EQUITY INDEX FDS FTSE EUROPE ETF,165.16600,63.47000,9999.15,10900.95,10483.08,10483.08,11148.70
4,VNQ,VANGUARD REAL ESTATE ETF,211.76800,89.08000,19999.91,20787.14,18864.29,18864.29,19175.59
5,VTI,VANGUARD INDEX FDS VANGUARD TOTAL STK MKT ETF,46.26200,289.81000,9999.99,13872.12,13407.19,13407.19,13813.83
6,VCLT,VANGUARD SCOTTSDALE FUNDS LONG-TERM CORP BOND ...,122.86800,74.78000,9999.98,9705.34,9188.06,9188.06,9226.15
7,IAU,ISHARES GOLD TR ISHARES NEW ISIN #US4642852044...,137.94300,49.51000,4999.98,6931.63,6829.55,6829.55,7293.04
8,GLDM,WORLD GOLD TR SPDR GLD MINIS,137.00000,51.99000,4993.65,7219.90,7122.63,7122.63,7600.76
9,FCX,FREEPORT-MCMORAN INC COM USD0.10,498.32300,38.08000,20462.47,22025.87,18976.13,18976.13,17864.87
10,KEY,KEYCORP COM,1072.00000,17.14000,10162.56,20882.56,18374.08,18374.08,19274.56
11,SSRM,SSR MINING INC COM NPV ISIN #CA7847301032 SEDO...,257.23900,6.96000,4999.98,1494.55,1790.38,1790.38,2065.62
12,SNOW,SNOWFLAKE INC CL A,133.14000,154.41000,19999.98,23272.87,20558.14,20558.14,24166.24

In [ ]:
# Step 1: Define the monthly files and their corresponding tags
monthly_reports = {
    "Dec": "Fid-IRA-2024-12-31.csv",
    "Jan": "Fid-IRA-2025-01-31.csv",
    "Feb": "Fid-IRA-2025-02-28.csv",
    "Mar": "Fid-IRA-2025-03-31.csv",
    "Apr": "Fid-IRA-2025-04-30.csv",
    "May": "Fid-IRA-2025-05-31.csv"
}

# Step 2: Initialize the master dataframe
master_df = None

# Step 4: Loop through months and merge into master
for month, filepath in monthly_reports.items():
    month_df = format_monthly_stock_info(filepath, month)

    if master_df is None:
        master_df = month_df
    else:
        price_colums_df = extract_monthly_values(month_df, month)
        master_df = append_monthly_values(master_df, price_colums_df)


# Optional: Fill missing values if any
master_df = master_df.fillna(0)

# Preview final merged result
pd.set_option('display.float_format', '${:,.2f}'.format)
display(master_df)

In [ ]:
display(month_df)

In [ ]:
# Preview the result
pd.set_option('display.float_format', '${:,.2f}'.format)
display(df_stocks)